@import url("reset.css");

.home_top_img{
    width: 100%;
    display: block;
} 


.swiper .swiper-button-next::after{
    color: white;
    font-size: 16px;
}

.swiper .swiper-button-prev::after{
    color: white;
    font-size: 16px;
}


.swiper-pagination .swiper-pagination-bullet-active{
    background-color: white;
}

h2{
    text-align: center;
}


.middle{
    width: 100%;
    height: 100px;
    margin: 0 auto;     
}

.middle h1{
    font-size: 96px;
    color: #000;
    letter-spacing: 5px;
    text-align: center;
    font-size: 20px;
    line-height: 50px
}

.content{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.product-img{
    background-image: url("../img/products.png");
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    width: 50%;
    height: 600px;
    border-radius: 60px;
}

.product_content{
    width: 50%;
    text-align: left;
    margin: auto;
}

.product_content h2{
    font-size: 32px;
    margin-bottom: 55px;
    font-weight: bold;
    
}


.product_content p{
    margin-bottom: 55px;
    padding: 0 70px;
    line-height: 2.5em;
}

.product_content a{
    display: block;
    text-align: center;
    background-color: #925f3b9d;
    text-decoration: none;
    color: white;
    width: 190px;
    line-height: 50px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: bold;
}

.visit_content{
    width: 50%;
    text-align: left;
    margin: auto;
}

.visit_content h2{
    font-size: 32px;
    margin-bottom: 55px;
    font-weight: bold;
}


.visit_content p{
    margin-bottom: 55px;
    padding: 0 70px;
    line-height: 2.5em;
}

.visit_content a{
    display: block;
    text-align: center;
    background-color: #925f3b9d;
    text-decoration: none;
    color: white;
    width: 190px;
    line-height: 50px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: bold;
}

.visit-img{
    background-image: url("../img/visit.png");
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    width: 50%;
    height: 600px;
    border-radius: 60px;
}


.learntobrew_content{
    width: 50%;
}

.contact-img{
    display: block;
    width: 50%;
    height: 600px;
    background-image: url("../img/contact.png");
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    border-radius: 50px;
}

.contact_content{
    width: 50%;
    text-align: left;
    margin: auto;
}

.contact_content h2{
    font-size: 32px;
    margin-bottom: 55px;
    font-weight: bold;
}


.contact_content p{
    margin-bottom: 55px;
    padding: 0 70px;
    line-height: 2.5em;
}

.contact_content a{
    display: block;
    text-align: center;
    background-color: #925f3b9d;
    text-decoration: none;
    color: white;
    width: 190px;
    line-height: 50px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: bold;
}


.hamBar{
    display: block;
}

@media screen and (max-width: 414px){

    h1{
        font-size: 30px;
    }


    .swiper .swiper-button-next::after{
        display: none;
    }

    .swiper .swiper-button-prev::after{
        display: none;
    }


    .content{
        width: 100%;
    }

    .product-img{
        height: 40vh;
        display: none;
    }

    .product_content{
        height: 40vh;
        width: 100%;
        background-color: rgba(0, 0, 0, .6);
        background-blend-mode: multiply;
        background-image: url("../img/products.png");
        background-size: cover;
        background-position: center center;
    }

    .product_content h2{
        font-size: 18px;
        margin: 40px auto 10px;
        font-weight: bold;
        color: white;
    }

    .product_content p{
        font-size: 12px;
        padding: 10px;
        margin: auto;
        color: white;
        margin-bottom: 10px;
    }

    .product_content a{
        font-size: 12px;
        width: 150px;
        line-height: 30px;
    }

    .visit_content{
        height: 40vh;
        width: 100%;
        background-color: rgba(0, 0, 0, .6);
        background-blend-mode: multiply;
        background-image: url("../img/visit.png");
        background-size: cover;
        background-position: center center;
    }


    .visit_content h2{
        font-size: 18px;
        margin: 40px auto 10px;
        font-weight: bold;
        color: white;
    }

    .visit_content p{
        font-size: 12px;
        padding: 10px;
        margin: auto;
        color: white;
        margin-bottom: 10px;
    }

    .visit_content a{
        font-size: 12px;
        width: 150px;
        line-height: 30px;
    }

    .visit-img{
        height: 40vh;
        display: none;
    }

    .contact-img{
        height: 40vh;
        display: none;
    }

    .contact_content{
        height: 40vh;
        width: 100%;
        background-color: rgba(0, 0, 0, .6);
        background-blend-mode: multiply;
        background-image: url("../img/contact.png");
        background-size: cover;
        background-position: center center;
    }

    
    .contact_content h2{
        font-size: 18px;
        margin: 40px auto 10px;
        font-weight: bold;
        color: white;
    }

    .contact_content p{
        font-size: 12px;
        padding: 10px;
        margin: auto;
        color: white;
        margin-bottom: 10px;
    }

    .contact_content a{
        font-size: 12px;
        width: 150px;
        line-height: 30px;
    }



}
